---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import KnowThis from '../components/KnowThis.astro';
import Seguros from '../components/Seguros.astro';
import FormContact from '../components/Form.astro';
import KnowUs from '../components/KnowUs.astro';
import EmailContact from '../components/ContactMail.astro';
---

<Layout title="JChaparro Seguros">
	<main>
		
		<Hero></Hero>

		<Seguros></Seguros>
		
		<KnowUs></KnowUs>

		<KnowThis></KnowThis>
		
		<EmailContact></EmailContact>
		<!-- <FormContact></FormContact> -->

	</main>
</Layout>

