---
---
<section id="contact" class="bg-sky-700">
    <a href="mailto:&#109;a&#105;lto&#58;&#37;64id%61c&#37;39c%68&#64;%67ma%69&#37;6C&#46;%&#54;3o%6D" class="flex justify-center items-center py-20 gap-3">
        <p class="text-4xl text-white font-semibold ">Contacta</p>
        <div class="">
            <svg class="w-10 h-10 text-gray-800 dark:text-white pt-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 24 24" 
            >
                <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z" fill="white"/>
                <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"  fill="white"/>
              </svg>              
        </div>
    </a>
</section>