---
---

<section class="hero bg-fixed">
    <article class="px-10 lg:px-56 pt-36 flex flex-col items-start  h-full">
        <h1 class="text-white font-bold text-6xl  pt-20 drop-shadow-lg">
            Protege lo que <br />más importa
        </h1>
        <!-- Tu tranquilidad, nuestra prioridad -->
         
        <p class="text-white font-semibold text-2xl mt-8 border-b-2 border-solid border-yellow-400 leading-10">
            Asegura tu presente, protege tu futuro.
        </p>

    </article>
</section>

<style>
    .hero{
        height: 500px;
        background-image: url('/images/home/header-home-boxes.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 12%;
    }
    @media (max-width:576px){
        .hero {
            background-position-x: center;
        }
    }
</style>