---
---

<section class="hero bg-fixed">
    <article class="px-10 lg:px-56 pt-36 flex items-end  h-full">
        <h1 class="text-white font-bold text-5xl pb-20 drop-shadow-lg">
            Protege lo que más importa
        </h1>
    </article>
</section>

<style>
    .hero{
        height: 600px;
        background-image: url('/images/vida/vida-1.jpg');
        background-size: cover;
        background-position-y: bottom;
    }
    @media (max-width:576px){
        .hero {
            background-position-x: center;
        }
    }
</style>