---
---


<section id="knowus" class="lg:pt-32">
    <div class="px-5 lg:px-56">
        
        <div>
            <h3 class="title-section pb-6">
                Sobre nosotros
            </h3>
            <p class="text-xl pb-5">
                En JChaparro seguros estamos comprometidos a brindarte la tranquilidad y protección que mereces. Sabemos que la vida puede ser impredecible y, por eso, nuestro objetivo es ofrecerte soluciones de seguros integrales que se adapten a tus necesidades y te proporcionen la seguridad que buscas.
            </p>
        </div>
        <div class="flex flex-col lg:flex-row items-center gap-20">
            <div class="order-0 lg:order-1">
                
                <ul class="text-xl">
                    <li>
                        <strong>Experiencia y Confiabilidad:</strong> Con años de experiencia en el sector asegurador, contamos con el conocimiento y la habilidad para ofrecerte las mejores soluciones.
                    </li>
                    <li>
                        <strong>Atención Personalizada:</strong> Entendemos que cada cliente es único. Por eso, trabajamos contigo para diseñar pólizas que se ajusten a tus necesidades específicas.
                    </li>
                    <li>
                        <strong>Rápida Respuesta:</strong> En caso de siniestro, nuestro equipo está disponible 24/7 para asistirte de inmediato y hacer que el proceso de reclamación sea lo más ágil y sencillo posible.
                    </li>
                    <li>
                        <strong>Amplia Cobertura:</strong> Ofrecemos una variedad de seguros para cubrir todos los aspectos de tu vida, desde tu salud y hogar hasta tu negocio y vehículo.
                    </li>
                </ul>
            </div>
            <img src="/images/home/know-us.jpg" width="500" class="contrast-100 know-us-img order-1 lg:order-0">
            
        </div>
        
    </div>
</section>

<style>
    .know-us-img {
        mask-border: linear-gradient(white 85%, transparent 100%); 
        border-radius: 5px;
    }
</style>