---
---

<section id="seguros" class="pt-20">
    <div class="px-10 lg:px-56">
        <h3 class="title-section text-center pb-10">
            Nuestros seguros
        </h3>
        <div class="flex flex-col lg:flex-row items-center justify-center gap-20 lg:mt-20 pb-20 ">
            <a href="/auto" class="px-20 pt-10 border border-2 rounded-xl shadow-xl shadow-gray-200 hover:scale-110 h-52 flex flex-col justify-center items-center">
                <img src="images/home/box-auto.png" class="h-20 max-w-max" alt="...">
                <p class="text-center text-3xl font-bold py-5 ">Auto</p>
            </a>
            <a href="/salud" class="px-20 pt-10 border border-2 rounded-xl shadow-xl shadow-gray-200 hover:scale-110 h-52 flex flex-col justify-center items-center">
                <img src="images/home/box-salud.png" class="h-20 max-w-max" alt="...">
                <p  class="text-center text-3xl font-bold py-5">Salud</p>
            </a>
            <a href="/vida" class="px-20 pt-10 border border-2 rounded-xl shadow-xl shadow-gray-200 hover:scale-110 h-52 flex flex-col justify-center items-center">
                <img src="images/home/box-vida.png" class="h-20 max-w-max" alt="...">
                <p class="text-center text-3xl font-bold py-5">Vida</p>
            </a>
            <a href="/hogar" class="px-20 pt-10 border border-2 rounded-xl shadow-xl shadow-gray-200 hover:scale-110 h-52 flex flex-col justify-center items-center">
                <img src="images/home/box-hogar.png" class="h-20 max-w-max" alt="...">
                <p class="text-center text-3xl font-bold py-5">Hogar</p>
            </a>
            
        </div>

    </div>
</section>