---
import AllianzLogo from './logos/logo_allianz.svg'
---

<section>
    <div class="px-10 lg:px-32 py-10 flex flex-col lg:flex-row justify-center items-center lg:gap-20">
        <div>
            <img src="/images/logos/Arag.png"/>
        </div>
        <div>
            <img src="/images/logos/Adeslas.png"/>
        </div>
        <div>
            <img src="/images/logos/Asisa.png"/>
        </div>
        <div>
            <img src="/images/logos/Zurich.png"/>
        </div>
        <div>
            <img src="/images/logos/Reale.png"/>
        </div>

    </div>
</section>