---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GaleryPartners from '../components/partners/GaleryPartners.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>

		
		<Header></Header>

		<slot />
		

		<GaleryPartners></GaleryPartners>

		<Footer></Footer>
		<!-- Plugins js -->
		<!-- <script src="../../path/to/flowbite/dist/flowbite.min.js"></script> -->

	</body>
</html>
<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
<style is:global>
	html{
		scroll-behavior: smooth;
	}
	body {
		background-color: white;
		scroll-behavior: smooth;
	}
	.title-section{
		font-size: 35px;
		color: #00469d;
		font-weight: 700;
		inline-size: max-content;
	}
	.blue-site{
		color: #00469d;
	}
</style>
